# app
sqlalchemy<1.4.0
sqlalchemy-utils
psycopg2-binary
selenium
stem>=1.8.0
schedule
pytz
docker
port_for

# selenium-wire
#pysocks
#pycurl
#requests
#maxminddb
#pyvirtualdisplay
#psycopg2-binary
#numpy
#scipy

# dev/tests
pytest
pytest-icdiff
pytest-cov
mypy
pylint
requests
tenacity