body {
    font-family: sans-serif;
}

h1 {
    color: rgb(40, 50, 199);
}

dl, ol, ul {
    margin-top: 5%;
    margin-bottom: 1rem;
}

.character.id
{
    margin-top: 5%;
}

.container {
    padding: 40px;
    max-width: 1000px;
    text-align: center;
}




.character > p {
    grid-area: house;
}


#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    position: absolute;
    top: 7px;
    right: 15px;
}
