{% extends 'base.html' %}

{% block title %}CAPTCHA Monitor{% endblock title %}

{% block body %}

<h2>Graphs for Relay: {{ fingerprint }}</h2>

<h1>{% for n in range(data | length) %}</h1>

<div class="container">
    <div class="row">
      <div class="col-md-8">
  
        <img src="../images/{{ data[n] }}" alt="" class="w-100">
      </div>
      <div class="col-md-4">
  
        <div class="row align-items-center h-100">
          <div class="col">
            <h4>About Image: {{ n+1 }}</h4>
            <p>{{string[n]}}</p>
          </div>
        </div> 
      </div>
{% endfor %}
        
{% endblock body %}